
<div class="row">
<%= render 'shared/flash' %>

  <div class ="col-md-5 col-md-offset-1">
    <div class="main">
      <h1>Edit Creature Details:</h1>
 <div><%= link_to "&larr; back to list".html_safe, creatures_path %></div>
      <div class="form-group">
        <%= bootstrap_form_for @creature, url: creature_path(@creature), html: {class: "form"}, method: :patch do |f| %>

        <%= f.text_field :name, :placeholder => "Creature Name", :class => "form-control"%>
        <%= f.text_area :desc, :placeholder => "Creature Description", :class => "form-control text-area" %><br/>

    <%= f.text_field :tag_ids, :value => @creature.tags.map{|t| t.name}.join(","), 'data-role'=>'tagsinput' %>
        <%= f.submit :class => "btn"%>

        <% end %>

      </div>
    </div><!-- close columns -->
  </div><!-- close form group -->

</div><!-- close row -->
